.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  z-index: 1;
  position: relative;
  color: #5a3d2b;
  font-weight: 800;
  font-size: 60px;
  margin: 10px 0;
}
.form {
  z-index: 1;
  width: 100%;
  max-width: 600px;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  background-color: white;
  border-radius: 10px;
  /* padding-right: 30px; */
}

.email {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  height: 40px;
}
.email:focus {
  outline: none;
}
.img {
  z-index: 0;
}
.icon {
  width: 35px;
  height: 35px;
  color: #5a3d2b;
}

/* .icon:hover {
  transform: scale(1.1);
} */

.btn {
  background: none;

  border: none;
}

@media (max-width: 780px) {
  .email {
    font-size: 14px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
}
